.nav {
    background-color: #FFFBFA;
    margin-top: 0%;
    height: 10%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index:10;
  }
  .nav img {
    float: right;
    margin-right: 1.5%;
    margin-top:1.3%;
    height:67%;
  }
  .nav .menu {
  width:10%;
  margin-top:0%;
  height:100%;
  margin-left:5%;
  cursor: pointer;
  color: #011627;
  text-transform: uppercase;
  display: none;
  justify-content: center;
  align-items: center;
  -webkit-transition : all 0.2s ease-in-out ;
  -moz-transition : all 0.2s ease-in-out ;
  transition : all 0.2s ease-in-out ;
  }
  .full-menu .nav-button {
    width:100%;
    height:25%;
    cursor: pointer;
    color: #011627;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition : all 0.2s ease-in-out ;
    -moz-transition : all 0.2s ease-in-out ;
    transition : all 0.2s ease-in-out ;
    }
    .full-menu .nav-button:hover {
        color:#56CFE1;
        border-bottom:#56CFE1;
        -webkit-transition : all 0.2s ease-in-out ;
        -moz-transition : all 0.2s ease-in-out ;
        transition : all 0.2s ease-in-out ;
        letter-spacing: 2px;
        animation-name: button-color;
        animation-duration: 3s;
        }
        
.nav .menu:hover {
    color:#56CFE1;
    border-bottom:#56CFE1;
    -webkit-transition : all 0.2s ease-in-out ;
    -moz-transition : all 0.2s ease-in-out ;
    transition : all 0.2s ease-in-out ;
    letter-spacing: 2px;
    animation-name: button-color;
    animation-duration: 3s;
    }
    .nav .nav-button {
        width:10%;
        float: right;
        margin-top:0%;
        height:100%;
        margin-right:2%;
        cursor: pointer;
        color: #011627;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-transition : all 0.2s ease-in-out ;
        -moz-transition : all 0.2s ease-in-out ;
        transition : all 0.2s ease-in-out ;
      }
      .nav .nav-button .a {
        width:10%;
        float: right;
        margin-top:0%;
        height:100%;
        margin-right:2%;
        cursor: pointer;
        color: #011627;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-transition : all 0.2s ease-in-out ;
        -moz-transition : all 0.2s ease-in-out ;
        transition : all 0.2s ease-in-out ;
      }
      
.nav .nav-button:hover {
    color:#56CFE1;
    border-bottom:#56CFE1;
    -webkit-transition : all 0.2s ease-in-out ;
    -moz-transition : all 0.2s ease-in-out ;
    transition : all 0.2s ease-in-out ;
    letter-spacing: 2px;
    animation-name: button-color;
    animation-duration: 3s;
  }
  .nav .nav-button {
    display:none;
  }
  .nav .menu {
    display:flex;
  }      

  .full-menu {
    margin-top:30%;
    width:100%;
    height: 90vh;
    position: absolute;
    overflow:hidden;
    display: none;
    }
    .nav img {
        float: right;
        margin-right: 1.5%;
        margin-top:1.3%;
        height:67%;
      }

      .nav .menu {
        width:10%;
        margin-top:0%;
        height:100%;
        margin-left:5%;
        cursor: pointer;
        color: #011627;
        text-transform: uppercase;
        display: none;
        justify-content: center;
        align-items: center;
        -webkit-transition : all 0.2s ease-in-out ;
        -moz-transition : all 0.2s ease-in-out ;
        transition : all 0.2s ease-in-out ;
        }
        .full-menu {
            margin: 0%;
            justify-content: center;
            align-items: center;
            }
            .full-menu .nav-button {
                width:100%;
                height:25%;
                cursor: pointer;
                color: #011627;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-transition : all 0.2s ease-in-out ;
                -moz-transition : all 0.2s ease-in-out ;
                transition : all 0.2s ease-in-out ;
                }
                .full-menu .nav-button:hover {
                    color:#56CFE1;
                    border-bottom:#56CFE1;
                    -webkit-transition : all 0.2s ease-in-out ;
                    -moz-transition : all 0.2s ease-in-out ;
                    transition : all 0.2s ease-in-out ;
                    letter-spacing: 2px;
                    animation-name: button-color;
                    animation-duration: 3s;
                    }
                    .nav .menu:hover {
                        color:#56CFE1;
                        border-bottom:#56CFE1;
                        -webkit-transition : all 0.2s ease-in-out ;
                        -moz-transition : all 0.2s ease-in-out ;
                        transition : all 0.2s ease-in-out ;
                        letter-spacing: 2px;
                        animation-name: button-color;
                        animation-duration: 3s;
                        }
                        .full-menu {
                            margin-top:30%;
                            width:100%;
                            height: 90vh;
                            position: absolute;
                            overflow:hidden;
                            display: none;
                            }
                            .nav .menu {
                                display:flex;
                              }
.full-menu {
margin: 0%;
justify-content: center;
align-items: center;
}
.nav .nav-button {
    width:10%;
    float: right;
    margin-top:0%;
    height:100%;
    margin-right:2%;
    cursor: pointer;
    color: #011627;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition : all 0.2s ease-in-out ;
    -moz-transition : all 0.2s ease-in-out ;
    transition : all 0.2s ease-in-out ;
  }
  .nav .nav-button .a {
    width:10%;
    float: right;
    margin-top:0%;
    height:100%;
    margin-right:2%;
    cursor: pointer;
    color: #011627;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition : all 0.2s ease-in-out ;
    -moz-transition : all 0.2s ease-in-out ;
    transition : all 0.2s ease-in-out ;
  }
  .nav .nav-button:hover {
    color:#56CFE1;
    border-bottom:#56CFE1;
    -webkit-transition : all 0.2s ease-in-out ;
    -moz-transition : all 0.2s ease-in-out ;
    transition : all 0.2s ease-in-out ;
    letter-spacing: 2px;
    animation-name: button-color;
    animation-duration: 3s;
  }
  @media screen and (max-width: 540px){
    .nav .nav-button {
      display:none;
    }
    
    
    }